<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon.png'   %}" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../assets/images/logos/dark-logo.svg" width="180" alt="" />
                </a>

                <p>{{error}}</p>

                <p class="text-center">GYM</p>

                <form action="/signin/" method="POST">
                  {% csrf_token %} 
                  <input type="hidden" name="csrfmiddlewaretoken"
                    value="r1OZ9yBiTkWrg3YnSXK86gNf6s8RC4hTcY4KczOJeHvs2nrVl76Tc8Ds9VSkbZrg" />

                  <div class="mb-3">
                    <label for="id_username" class="form-label">Usuario</label>
                    <input type="text" class="form-control" name="username" autofocus="" autocapitalize="none"
                      autocomplete="username" maxlength="150" required="" id="id_username" />
                  </div>
                  <div class="mb-4">
                    <label for="id_password" class="form-label">Contraseña</label>
                    <input type="password"  class="form-control" name="password" autocomplete="current-password" required=""
                      id="id_password" />
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked"
                        checked="" />
                      <label class="form-check-label text-dark" for="flexCheckChecked">
                        Remeber this Device
                      </label>
                    </div>
                  </div>
                  <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                    Ingresar
                  </button>               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'js/app.min.js' %}"></script>
  <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
</body>

</html>